
.reffs {
    margin-left: 2em;
}
.reffs > .col-md-1 {
    width: auto;
}
.reffs > section{
    margin: 3em 0em 0em 0em;
}

#aside {
    resize: yes;
    padding: 0em 1em 1em 0;
    border: none;
    width: 230px;

    margin-top: 3em;
    scrollbar-width: none;
    color : inherit;
    font-size : 16px;
}

#intro-index {
    margin-top: 3em;
    padding-right: 4em;
}

#navigation-header {
    margin-top: 20px;
}

#collections {
    margin-top: 20px;
}

#menu-container {
    width: 25%;
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}

#reading-container {
    width: 75%;
    border-left: #C9C6BB 1px solid;
    height: fit-content;
}

#center {
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
}

.ListeData {
    margin-left: 1.5em;
}

.ListeData::-webkit-scrollbar {
    display: none;
}
.Mirador{
    position: sticky;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    top: 0;
    bottom: 0;
}
#body-1 {
    padding-top: 0;
}

#body-1-1 {
    padding-top: 0;
}

#main {
    width: 100%;
}

article > header {
    margin: 0em 4em 0em 0em;
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}

article > header > h1, h2 {
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}

#row-2 {
    margin-top: 30px;
}

.card-columns {
    margin-top: 3em;
}

.tree li.more::before{
    content: '○';
}

